* {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}
body {
  background-color: black;
  color: white;
  display: grid;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  max-width: 90vw;
}
nav {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}
.right-section-nav-bar {
  display: flex;
}
.icon {
  display: flex;
  background-color: green;
  padding: 0 0.6rem 0 0.3rem;
  border-radius: 2.5cm;
}
.heading {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  margin: 0;
  line-height: 0.7rem;
}
.sub-heading {
  font-size: 0.9rem;
}
.version {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 0.5rem;
  padding: 0;
  line-height: 0.3rem;
  padding-top: 0.3rem;
}
input {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.btn {
  border: 2px solid green;
  color: green;
  background-color: rgba(255, 255, 255, 0);
}
nav input {
  width: 2rem;
  padding: 0.25rem;
  border-radius: 2.5cm;
}
.btn-menu,
.btn-timer,
.timerStopped {
  padding: 0;
  margin: 0 0 0 0.25rem;
  padding: 0.3rem;
  border-radius: 2.5cm;
  border: 2px solid green;
  color: green;
  background-color: rgba(255, 255, 255, 0);
}
.timerRunning {
  border: 2px dashed red;
  color: red;
  padding: 0;
  margin: 0 0 0 0.25rem;
  padding: 0.3rem;
  border-radius: 2.5cm;
  background-color: rgba(255, 255, 255, 0);
}
.main {
  display: grid;
  grid-template:
    ". btn-set-limits btn-set-limits ."
    " lower-first . first-number upper-first"
    "lower-second select-operator second-number upper-second"
    "right answer answer wrong "
    " btn-check btn-check btn-check btn-check"
    "auto-submit-answer auto-submit-answer  . . " auto / minmax(2rem, 1fr)
    minmax(2rem, 1fr) minmax(2rem, 2.5fr) minmax(2rem, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  border: 2px solid white;
  /* place-items: center; */
}
.lower-first {
  grid-area: lower-first;
  /* min-width: .5rem; */
}
.first-number {
  grid-area: first-number;
  font-size: 2rem;
}
.upper-first {
  grid-area: upper-first;
}
.lower-second {
  grid-area: lower-second;
}
.select-operator {
  grid-area: select-operator;
  border: 2px dashed green;
  color: green;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  /* -------------- */
  appearance: none;
  font-size: 2rem;
}
.second-number {
  grid-area: second-number;
  font-size: 2rem;
}
.upper-second {
  grid-area: upper-second;
}
.right {
  grid-area: right;
  justify-self: center;
  align-self: center;
  padding: 0.5rem;
  border-radius: 2.5cm;
}
.answer {
  grid-area: answer;
  font-size: 3rem;
}
.wrong {
  grid-area: wrong;
  justify-self: center;
  align-self: center;
  padding: 0.5rem;
  border-radius: 2.5cm;
}
.btn-set-limits {
  grid-area: btn-set-limits;
  font-size: 2rem;
}
.btn-check {
  grid-area: btn-check;
  font-size: 2rem;
}
.auto-submit-answer {
  grid-area: auto-submit-answer;
}
input#auto-submit-answer {
  transform: scale(2);
  margin-left: 8px;
}
