* {
  padding: 0;
  margin: 0;
  --first-color: hsl(220, 30%, 22%);
  --second-color: hsl(204, 10%, 98%);
  --third-color: hsl(204, 10%, 95%);
}
@media (prefers-color-scheme: dark) {
  * {
    --first-color: hsl(204, 10%, 95%);
    --second-color: hsl(220, 30%, 25%);
    --third-color: hsl(220, 30%, 22%);
  }
}
body {
  background-color: var(--second-color);
  color: var(--first-color);
  margin: 8px;
  max-width: 400px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}
button {
  background-color: var(--third-color);
  color: var(--first-color);
  border: 2px solid var(--first-color);
}
button:active {
  background-color: var(--first-color);
  color: var(--third-color);
}
hr {
  border-color: var(--first-color);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--first-color);
}

.icon {
  border: 2px solid var(--first-color);
  padding: 3px;
  border-radius: 0.15cm;
  width: 70px;
  line-height: 0.8;
  background-color: var(--first-color);
  color: var(--third-color);
}
.heading {
  font-size: 25px;
}
.sub-heading {
  font-size: 8px;
  letter-spacing: 4.3px;
}
.timer-section {
  display: flex;
  align-items: center;
}
.input-timer {
  width: 80px;
  margin: 3px;
  text-align: center;
  font-size: 1.75rem;
}
input {
  text-align: right;
  color: var(--first-color);
  background-color: var(--third-color);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:disabled {
  -webkit-text-fill-color: var(--first-color);
  opacity: 1;
}
.message-board {
  height: 120px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: left;
  background-color: var(--third-color);
  margin-top: 8px;
  padding-left: 20px;
}

.btn-red-light-green-light {
  border: none;
  /* display: none; */
  background-color: transparent;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  align-self: center;
  margin-right: 8px;
}
.right-or-wrong-board {
  display: inline-flex;
}
@keyframes bouncing-red {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 0, 0, 1);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes bouncing-green {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 255, 0, 1);
  }
}
.main {
  display: grid;
  grid-template:
    " . first-number"
    " select-operator second-number"
    " answer answer" auto / minmax(2rem, 0.5fr) minmax(2rem, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--third-color);
  margin-top: 8px;
}
.first-number {
  grid-area: first-number;
  font-size: 2rem;
  background-color: var(--second-color);
  color: var(--first-color);
  border-color: transparent;
}
.select-operator {
  grid-area: select-operator;
  border: none;
  color: var(--first-color);
  background-color: transparent;
  text-align: center;
  appearance: none;
  font-size: 2rem;
}
.select-operator:focus {
  outline: none;
}
.second-number {
  grid-area: second-number;
  font-size: 2rem;
  background-color: var(--second-color);
  color: var(--first-color);
  border-color: transparent;
}
.answer {
  grid-area: answer;
  font-size: 3rem;
  border-width: 2px 0;
  border-color: var(--first-color);
  background-color: var(--second-color);
  color: var(--first-color);
}
.answer:focus {
  border-width: 2px 0;
  border-color: var(--first-color);
  outline: none;
}
.answer:focus::placeholder {
  color: transparent;
}
.lower-first,
.upper-first,
.lower-second,
.upper-second,
.learn-table-multiplication-number,
.learn-table-divide-number {
  width: 2.5rem;
  font-size: 1.5rem;
}
.bottom-nav-bar {
  overflow: hidden;
  /* position: fixed; */
  /* bottom: 0; */
  /* width: 95%; */
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid var(--first-color);
  margin-top: 8px;
  padding: 3px;
  /* max-width: 400px; */
}
.bottom-nav-bar button {
  font-size: 2rem;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 0;
  margin: 2px 6px;
}
.btn-more {
  position: relative;
}
.btn-more-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hide-modal-window {
  font-size: 3rem;
  font-weight: bold;
}
.modal-window {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: auto;
  width: 100%;
  height: 100%;
}
@keyframes slideInBottom {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideOutBottom {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(400px);
  }
}
.modal-window-content-all-data {
  padding: 0.5rem;
  width: 97%;
  height: fit-content;
  background-color: var(--second-color);
  line-height: 3rem;
  border-top: 2px solid var(--first-color);
  font-size: 1.5rem;
  border-radius: 0.5cm 0.5cm 0 0;
}
.modal-window-content-additionData,
.modal-window-content-subtractionData,
.modal-window-content-multiplicationData,
.modal-window-content-divideData,
.modal-window-content-more {
  display: none;
}

.btn-save {
  width: 80%;
  font-size: 2rem;
}
.save-btn-holder-div {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}
.modal-window-summary {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.modal-window-summary-content {
  background-color: var(--second-color);
  margin: 50px;
  padding: 10px 25px 25px 25px;
  font-size: 2rem;
  border-radius: 0.5cm;
  border: 2px solid var(--first-color);
}
.close-summary-modal-window {
  font-size: 2.5rem;
  font-weight: bold;
}
.numeric-pad {
  display: grid;
  grid-template:
    "one two three" 50px
    "four five six" 50px
    "seven eight nine" 50px
    "submit zero backspace" 50px / minmax(2rem, 0.5fr) minmax(2rem, 0.5fr) minmax(2rem, 0.5fr);
  gap: 7px;
  touch-action: manipulation;
  margin-top: 7px;
}
.numeric,
.backspace {
  touch-action: manipulation;
  font-size: 1.75rem;
}
.numeric-one {
  grid-area: one;
}
.numeric-two {
  grid-area: two;
}
.numeric-three {
  grid-area: three;
}
.numeric-four {
  grid-area: four;
}
.numeric-five {
  grid-area: five;
}
.numeric-six {
  grid-area: six;
}
.numeric-seven {
  grid-area: seven;
}
.numeric-eight {
  grid-area: eight;
}
.numeric-nine {
  grid-area: nine;
}
.numeric-zero {
  grid-area: zero;
}
.backspace {
  grid-area: backspace;
  background-color: var(--first-color);
  color: var(--third-color);
}
.submit {
  grid-area: submit;
  font-size: 1.5rem;
  background-color: var(--first-color);
  color: var(--third-color);
}
