.main {
  display: grid;
  grid-template:
    " lower-first . first-number upper-first"
    "lower-second select-operator second-number upper-second"
    "answer answer answer answer "
    "btn-set-limits btn-set-limits btn-check btn-check";
  gap: 0.75rem;
}
.lower-first {
  grid-area: lower-first;
}
.first-number {
  grid-area: first-number;
}
.upper-first {
  grid-area: upper-first;
}
.lower-second {
  grid-area: lower-second;
}
.select-operator {
  height: 50px;
  width: 50px;
  grid-area: select-operator;
  border: 2px dashed green;
  color: green;
  background-color: rgba(255, 255, 255, 0);
  font-size: 30px;
  border-radius: 50%;
  /* -------------- */
  appearance: none;
  text-indent: 12px;
  /* text-overflow: ""; */
}
.second-number {
  grid-area: second-number;
}
.upper-second {
  grid-area: upper-second;
}
.answer {
  grid-area: answer;
}
.btn-set-limits {
  grid-area: btn-set-limits;
}
.btn-check {
  grid-area: btn-check;
}
